@import "common";

#ending {
  &:extend(.full-page);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 0 20%;
  box-sizing: border-box;
  color: white;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75));

  .title {
    font-size: 4em;
    font-weight: bold;
  }

  .subtitle {
    font-size: 1.5em;

    &.mt {
      margin-top: 2em;
    }
  }

  .appendix {
    position: absolute;
    bottom: 2em;
    font-size: 1.2em;
    text-align: center;
    transform: translateX(-50%);
    left: 50%;

    a {
      color: white;
    }
  }
}