@import "style/common";
@import "style/intro";
@import "style/preview";
@import "style/relation-exploration";
@import "style/one-day-exploration";
@import "style/ending";
@import "style/mobile";

::-webkit-scrollbar {
  width: 6px;
  -webkit-appearance: none;
  -webkit-border-radius: 100px;
}

::-webkit-scrollbar-thumb, ::-webkit-scrollbar-thumb:vertical {
  background: #dadada;
  border: none;
}

::-webkit-scrollbar-track {
  background: #666666;
}

::selection {
  background: #c3eeec;
}

body {
  font-family: 'Lora', serif;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

.calendar-plot-container {
  &:extend(.full-page);
  position: fixed;
  top: 0;
  left: 0;
  background: #666666;
  z-index: -1;
}

@media (max-width: 1024px) {
  .pc-display {
    display: none !important;
  }

  .mobile-display {
    display: block !important;
  }
}

.mobile-display {
  display: none;
}

.pc-display {
  display: block;
}